/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* General Styles */
body {
    font-family: "Open Sans", sans-serif;    
    margin: 0;
    /* background: linear-gradient(to bottom, #414345, #232526); */
    /* background: linear-gradient(to bottom, #474747, #3b3b3b); */
    background-image: linear-gradient(to bottom, #2e2e2e, #353535, #3c3c3c, #434343, #4a4a4a, #4b4b4b, #4d4d4d, #4e4e4e, #494949, #444444, #404040, #3b3b3b);
    /* color: #E2DFD0; */
    color: #E2DFD0;
    text-align: center;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

/* Section Margins */
section {
    margin: 40px auto;
    padding: 20px 0;
}

/* Header */
.header .image {
    background-image: url("https://images.unsplash.com/photo-1666875753105-c63a6f3bdc86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGF0YSUyMGFuYWx5c2lzfGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 4px solid #E2DFD0; */
    margin: 0 auto;
}

.header .profession span {
    font-weight: bold;
    font-size: 18px;
    color: #E07B39;
}

.header .bio {
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* .navbar .link {
    text-decoration: none;
    padding: 10px 20px;
    color: #232526;
    background: #ffcc66;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
} */

.navbar .link:hover {
    background: transparent;
    color: #E07B39;
}

/* Links */
.links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.link {
    text-decoration: none;
    padding: 10px 10px;
    /* color: #232526; */
    /* background: #ffcc66; */
    color: #E2DFD0;
    font-size: 18px;
    /* font-weight: bold; */
    border-radius: 6px;
}

.link:hover {
    /* background: #E2DFD0;
    color: #232526; */
    background: transparent;
    color: #E07B39;
}

/* Skills Section */
.skills ul {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.skills li {
    background: #E2DFD0;
    color: #232526;
    padding-inline: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    transition: 0.6s;
    font-size: 16px;
}

.skills li:hover {
    /* background: #E2DFD0;
    transform: scale(1.05); */
    background: transparent;
    color: #E07B39;
}

/* Contact Section */
.contact p {
    font-size: 16px;
    margin: 10px auto;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.contact a {
    color: #E2DFD0;
    text-decoration: none;
    font-size: 16px;
}

.contact i {
    font-size: 20px;
    color: #E07B39;
}

/* Projects Section */
.project-card {
    /* background: #414345; */
    background: #3c3831;
    color: #E2DFD0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #E07B39;
}

.project-card p {
    margin-bottom: 15px;
    line-height: 1.4;
}

.project-card a {
    color: #bdbdbd;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
.footer {
    margin: 20px auto;
    font-size: 14px;
}

/* Section Headings */
h1, h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #E07B39;
}

h1 {
    font-size: 32px;
}
