body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #007bff;
}

#itemsSection {
    display: none;
}

#alertSection {
    margin-top: 10px;
}
